<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.nirmaljeffrey.dev.androidpermissions">
  <application>
    <activity
      android:exported="true"
      android:theme="@style/ShadowActivityTheme"
      android:name=".ShadowActivity" />
  </application>
</manifest>